<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EnrichSeq</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('EnrichSeq') }}">EnrichSeq Tool</a>
        </li>
      </ul>



      </ul>
      <br>
      <div class="row">
          <div class="col-md-4"> 
              <h4>EnrichSeq Input Format</h4>
              <br>
              <table  class="table">
                <thead>
                  <th scope="col"># samples</th>
                  <th scope="col">sequencing type</th>
                  <th scope="col">example input structure</th>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td>Single-Read</td>
                  <td>
<pre>
input_folder/
    ├── 1.fasta
    ├── db.py
</pre>
                </td>
                    
                </tr>
                <tr>
                    <td>n</td>
                    <td>Single-Read</td>
                    <td>
<pre>
input_folder/
    ├── 1.fasta
    ├── 2.fasta
    ├── 2.fasta
    ├── ...
    ├── n.fasta

</pre>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Pair-End</td>
                    <td>
<pre>
input_folder/
    ├── 1_1.fasta
    ├── 1_2.fasta
</pre>
                    </td>
                </tr>
                <tr>
                    <td>n</td>
                    <td>Pair-End</td>
                    <td>
<pre>
input_folder/
    ├── 1_1.fasta
    ├── 1_2.fasta
    ├── 2_1.fasta
    ├── 2_1.fasta
    ├── ...
    ├── n_1.fasta
    ├── n_2.fasta
</pre>
                    </td>
                </tr>
            </tbody>
              </table>
          </div>

          <div class="col-md-4">

                <form method="POST" enctype="multipart/form-data" action="/EnrichSeq">
                    <input type="file" name="file[]" multiple="">
                    <input type="submit" value="add">
                  </form>
            </div>

      </div>


      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script> 

</script>

</html>